@reference "tailwindcss";
.root {
  h2 {
    margin-left: 0px;
  }
  h3 {
    margin-left: 12px;
  }
  h4 {
    margin-left: 24px;
  }
  h5 {
    margin-left: 36px;
  }
  h6 {
    margin-left: 48px;
  }
  h7 {
    margin-left: 60px;
  }
  h1 ~ ul,
  h1 ~ p,
  h1 ~ table,
  h1 ~ pre,
  h1 ~ div {
    margin-left: 0px;
  }
  h2 ~ ul,
  h2 ~ p,
  h2 ~ table,
  h2 ~ pre,
  h2 ~ div {
    margin-left: 12px;
  }
  h3 ~ ul,
  h3 ~ p,
  h3 ~ table,
  h3 ~ pre,
  h3 ~ div {
    margin-left: 24px;
  }
  h4 ~ ul,
  h4 ~ p,
  h4 ~ table,
  h4 ~ pre,
  h4 ~ div {
    margin-left: 36px;
  }
  h5 ~ ul,
  h5 ~ p,
  h5 ~ table,
  h5 ~ pre,
  h5 ~ div {
    margin-left: 48px;
  }
  h6 ~ ul,
  h6 ~ p,
  h6 ~ table,
  h6 ~ pre,
  h6 ~ div {
    margin-left: 60px;
  }
  h7 ~ ul,
  h7 ~ p,
  h7 ~ table,
  h7 ~ pre,
  h7 ~ div {
    margin-left: 72px;
  }
  h1.title {
    text-align: center;
    border-bottom: #dddddd 1px solid;
    padding-bottom: 16px;
    margin-bottom: 32px;
  }
  h2:nth-of-type(n + 2) {
    @apply mt-8;
  }
  h2 {
    @apply border-b-2 pb-1 text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-base;
  }
  img,
  canvas {
    margin: 4px 0;
    max-width: 80%;
    height: auto;
  }
  iframe {
    width: 100%;
    height: 720px;
    border: #dddddd;
    background: #f0f0f0;
  }
  .plain {
    display: inline-block;
    font-weight: 500;
    background: #dceef0;
    border-radius: 2px;
    padding: 0 4px;
    margin: 0 1px;
  }
  p {
    @apply min-h-[1em];
  }
  em {
    @apply italic;
  }
  li {
    @apply ml-[1em] list-disc;
  }
  a {
    @apply text-blue-700 underline;
  }
  td,
  th {
    @apply border px-2;
  }
}
