.root {
  @apply relative h-full w-full overflow-x-hidden overflow-y-scroll;
}
.root .title {
  @apply m-4 flex items-center gap-4 border-b-2 border-gray-300 p-2 px-8 text-center text-3xl leading-10;
}
.root .date {
  @apply px-8 text-end font-mono text-gray-500;
}
.root .date > .label {
  @apply inline-block w-32;
}
.root .date > .value {
  @apply inline-block w-24;
}
.root .card {
  @apply flex h-20 w-20 items-center justify-center overflow-hidden rounded-full text-base;
}
.root .cardText {
  @apply flex h-20 w-20 items-center justify-center overflow-hidden rounded-full text-6xl;
}
.root .separator {
  @apply m-auto flex  max-w-[1440px] flex-row-reverse items-start justify-center gap-2 px-2;
}
@media (max-width: 1000px) {
  .root .separator {
    @apply flex-col;
  }
}
.root .table {
  @apply sticky top-0 mx-auto max-w-xs px-4;
}
.root .main {
  @apply w-full overflow-hidden;
}
.root .categories {
  @apply m-4 flex flex-wrap gap-2;
}
.root .categories .category {
  @apply rounded bg-blue-500 px-4 py-2  text-white shadow hover:bg-blue-300;
}
.root .content {
  @apply relative  z-10 flex-1 overflow-x-hidden rounded border bg-slate-100 p-4 shadow;
}
.root .edit {
  @apply fixed right-8 top-24 z-10;
}
