.root {
  @apply relative;
}
.root.field {
  @apply min-h-[64px] p-4;
}
.root.drag {
  @apply border-gray-700;
}
.root .image {
  @apply m-auto max-w-64 max-h-64;
}
.root .close {
  @apply absolute right-6 top-6 bg-opacity-50 bg-white p-2 border-gray-400;
}
.root .placeholder {
  @apply bg-white px-2;
}
